<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alejandro Vilpa</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Arimo&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a077a0470e.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
</head>

<body>
    <div class="header bg-dark">
        <div class="container">
            <div class="row">

                <div class="container text-center">
                    <h4 class="headerTitle">Sígueme en redes: <a
                            href="https://www.instagram.com/alejandrovilpa/?hl=es-la" target="_blank"
                            rel="noopener noreferrer" class="text-white"><i class="fab fa-instagram"></i>
                            alejandrovilpa</a> </h4>
                </div>

            </div>
        </div>
    </div>

    <h2 class="text-center sTitles">Me está observando</h2>
    <h4 class="text-center sTitles2">Relato <span style="font-weight: bolder; color: wheat"
            class="blink">interactivo</span> por Alejandro Vilpa</h4>

    <div class="bodie">
        {{{body}}}
    </div>
    <script src="/assets/js/script.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
</body>