<div class="inicio regresarDiv">
    <div class="container inicioContainer">
        <div class="escopeta container"></div>
        <div class="container primerParrafo">
            <div class="row">
                <p>
                    Un relámpago la hizo reaccionar. Miró a su alrededor, y dio un par de vueltas patéticamente. El
                    hacha había hecho un gran hoyo en la puerta, que su victimario ocupó para meter la mano y encontrar
                    el seguro para poder abrir. <br>
                    —¡No!, rápido, ¡Mierda! —gritó desesperada, se sintió estúpida al ver que había estado una escopeta
                    colgada frente a ella todo el tiempo. La tomó rápidamente y retiró el seguro, se dirigió a la puerta
                    y se encontró con unos ojos negros que habían logrado quitar el seguro. <br>
                    —¡Vete al infierno, bastardo! —jaló el gatillo, y sincronizándose con un relámpago estridente, su
                    victimario salió volando por las escaleras de la entrada. Inerte. Catalina se dispuso a buscar a
                    Daniel, después de hacerse un torniquete en la pierna.



                    <span>
                        <h3 style="background-color: wheat; color: black">Final 4: El del escritor</h3>
                    </span>
                </p>
            </div>
            <div class="row text-center decOne">
                <div class="col-md-6">
                    <button type="button" class="btn btn-light btn-block btnDec1"
                        onclick="location.href='/levantarse';">Regresar a la decisión anterior</button>
                </div>
                <div class="col-md-6">
                    <button type="button" class="btn btn-light btn-block " onclick="location.href='/inicio';">Comenzar
                        historia de nuevo</button>
                </div>

            </div>
        </div>

    </div>
</div>