<div class="inicio regresarDiv">
    <div class="container inicioContainer">
        <div class="llaves container"></div>
        <div class="container primerParrafo">
            <div class="row">
                <p>
                    Rebuscó entre los bolsillos, manchados en sangre y agua de lluvia, de Daniel. Un tintineo sonó con
                    fuerza y así encontró lo que buscaba. <br>
                    —Dios… perdóname, Daniel —Se dirigió al volante y un relámpago alumbró aquella figura fornida
                    acercándose por el muelle— ¡No!, otra vez tú —recordó todo lo que había sufrido para huir
                    anteriormente. Levantó el arma y con firmeza la disparó, pero su victimario no se desplomó, tiró de
                    nuevo y no sucedió nada. Era la última bala. Giró las llaves en la lancha para arrancar, pero solo
                    sonaba el sonido ahogado del motor. Aquella figura ya estaba cerca y se preparaba para atacar— ¡No!,
                    ¡no!, ¡Auxilio! —soltó un alarido y el motor comenzó a andar. Aceleró alejándose del muelle,
                    dispuesta a sobrevivir.


                    <span>
                        <h3 style="background-color: wheat; color: black">Final 2: El del escritor</h3>
                    </span>
                </p>
            </div>
            <div class="row text-center decOne">
                <div class="col-md-6">
                    <button type="button" class="btn btn-light btn-block btnDec1"
                        onclick="location.href='/lancha';">Regresar a la decisión anterior</button>
                </div>
                <div class="col-md-6">
                    <button type="button" class="btn btn-light btn-block " onclick="location.href='/inicio';">Comenzar
                        historia de nuevo</button>
                </div>

            </div>
        </div>

    </div>
</div>