<div class="inicio">
    <div class="container inicioContainer">
        <div class="cabana container"></div>
        <div class="container primerParrafo">
            <div class="row">
                <p>
                    Enseguida un aliento cálido le respiró en el cuello, volteó aterrada pero no era nadie. Corrió hacia
                    la cabaña. <br>
                    —¡Déjame en paz! —soltó sin aliento. Sentía que la observaban de lejos y de cerca. De repente
                    tropezó y la pistola se disparó, hiriendo su pierna— ¡Agh!, Mierda… ¡mierda! —un crujido la distrajo
                    y se encontró con aquella figura fornida y obscura que la acechaba. Aquella que la miraba como a una
                    presa.

                </p>
            </div>
            <div class="row text-center decOne">
                <div class="col-md-6">
                    <button type="button" class="btn btn-light btn-block btnDec1 blink2"
                        onclick="location.href='/usarPistola';">Decisión 1: Usar la pistola</button>
                </div>
                <div class="col-md-6">
                    <button type="button" class="btn btn-light btn-block blink2" onclick="location.href='/levantarse';" style="width: 23rem;">Decisión
                        2: Levantarse para llegar a la cabaña</button>
                </div>

            </div>
        </div>

    </div>
</div>