<div class="inicio">
    <div class="container inicioContainer">
        <div class="portada container"></div>
        <div class="container primerParrafo">
            <div class="row">
                <p>
                    Una lluvia feroz despertó a Catalina. <br>
                    —¿Cómo llegué aquí? —se levantó del suelo embarrándose el lodo en su cuerpo lastimado. El agua
                    desenterró una pistola del suelo. La tomó y escuchó un crujido a sus espaldas. Se torció asustada.
                    <br>
                    —Tengo que seguir huyendo… —volteó para encontrarse con dos caminos. Uno acababa en un lago, donde
                    había
                    una lancha y el otro terminaba frente a una cabaña, con las luces encendidas.
                </p>
            </div>
            <div class="row text-center decOne">
                <div class="col-md-6">
                    <button type="button" class="btn btn-light btn-block btnDec1" onclick="location.href='/lancha';">Decisión 1: Huir hacia la lancha</button>
                </div>
                <div class="col-md-6">
                    <button type="button" class="btn btn-light btn-block " onclick="location.href='/cabana';">Decisión 2: Huir hacia la cabaña</button>
                </div>

            </div>
        </div>

    </div>
</div>