<div class="inicio">
    <div class="container inicioContainer">
        <div class="boat container"></div>
        <div class="container primerParrafo">
            <div class="row">
                <p>
                    Enseguida un aliento cálido le respiró en el cuello, volteó aterrada pero no había nadie. Corrió hacia
                    la lancha. <br>
                    —¡Déjame en paz! —soltó sin aliento. Sentía que la observaban de lejos y de cerca— ¡Daniel, auxilio! <br>
                    Al llegar a la lancha un charco de sangre diluido por la tormenta la impactó. Terminaba frente al
                    rostro de Daniel sin vida. Entonces recordó que ni el muelle con la lancha, ni la cabaña eran la
                    dirección correcta. Se estremeció al sentirse atrapada.

                </p>
            </div>
            <div class="row text-center decOne">
                <div class="col-md-6">
                    <button type="button" class="btn btn-light btn-block btnDec1 blink2"
                        onclick="location.href='/regresar';">Decisión 1: Regresar por donde vino</button>
                </div>
                <div class="col-md-6">
                    <button type="button" class="btn btn-light btn-block  blink2" onclick="location.href='/buscarLlaves';" style="width: 21rem;">Decisión
                        2: Buscar las llaves para arrancar</button>
                </div>

            </div>
        </div>

    </div>
</div>