<div class="inicio">
    <div class="container inicioContainer">
        <div class="levantarse container"></div>
        <div class="container primerParrafo">
            <div class="row">
                <p>
                    La motivación por sobrevivir la hizo levantarse con fuerza. Ignorando el dolor y sangrado de su
                    pierna, y sin voltear a atrás, se movió lo más rápido posible entre el lodo y la lluvia. <br>
                    —Mierda… —soltó desesperada cuando sintió que su victimario le pisaba los talones. Llegó a la puerta
                    y la azotó; puso llave tan rápido como pudo. Por un segundo, escuchó solo el sonido
                    de la tormenta que le causaba paz, pero entonces un hacha comenzó a destrozar la puerta. —¡Ah!
                    —soltó tan fuerte como podía, pero un relámpago apagó su alarido.


                </p>
            </div>
            <div class="row text-center decOne">
                <div class="col-md-6">
                    <button type="button" class="btn btn-light btn-block btnDec1 blink2"
                        onclick="location.href='/buscarArma';" style="width: 20rem;">Decisión 1: Buscar un arma más
                        grande</button>
                </div>
                <div class="col-md-6">
                    <button type="button" class="btn btn-light btn-block blink2"
                        onclick="location.href='pistolaEnMano';" style="width: 23rem;">Decisión
                        2: Usar la pistola que trae en mano</button>
                </div>

            </div>
        </div>

    </div>
</div>