<div class="inicio">
    <div class="container inicioContainer">
        <div class="pistolaMano container"></div>
        <div class="container primerParrafo">
            <div class="row">
                <p>
                    Levantó el arma de manera trémula y tomó un suspiro. Recordando como usarla entre tanto terror.
                    Finalmente, sostuvo sus manos con firmeza y jaló el gatillo, pero nada sucedió. Suspiró congelada.
                </p>
            </div>
            <div class="row text-center decOne">
                <div class="col-md-6">
                    <button type="button" class="btn btn-light btn-block" onclick="location.href='buscarArma';"
                        style="width: 23rem;">Decisión
                        1: Buscar un arma más grande</button>
                </div>

            </div>
        </div>

    </div>
</div>