<div class="inicio regresarDiv">
    <div class="container inicioContainer">
        <div class="regresar container"></div>
        <div class="container primerParrafo">
            <div class="row">
                <p>
                    Dio media vuelta para regresar por donde vino. Se paralizó al ver aquella figura fornida y obscura
                    inmutada al principio del muelle. <br>
                    —¡No, otra vez! —soltó aterrada. Recordó que tenía una pistola en mano, que le tambaleaba inestable.
                    Apuntó a la figura obscura y caminó el muelle para acercarse— ¡Tú, bastardo!, mataste a Daniel.
                    Aquella figura se acercó despreocupada y Catalina jaló el gatillo, disparándole en el pecho, pero no
                    se cayó. Continuó aproximándose y ella tiró con su dedo por segunda vez. Pero nada sucedió, ya no tenía balas. <br>
                    Su victimario la tomó de la cabellera para arrastrarla por el muelle, hasta encontrarse cara a cara
                    con Daniel, que yacía muerto en el suelo del vehículo. Ella suspiró aterrada y volteó a ver a su
                    victimario a la cara, quien tomó una gran roca empapada por la lluvia y la dejó caer en la cabeza de
                    Catalina. <br>

                    <span><h3 style="background-color: wheat; color: black">Final 1</h3></span>
                </p>
            </div>
            <div class="row text-center decOne">
                <div class="col-md-6">
                    <button type="button" class="btn btn-light btn-block btnDec1 blink2"
                        onclick="location.href='/lancha';">Regresar a la decisión anterior</button>
                </div>
                <div class="col-md-6">
                    <button type="button" class="btn btn-light btn-block  blink2" onclick="location.href='/inicio';"
                        >Comenzar historia de nuevo</button>
                </div>

            </div>
        </div>

    </div>
</div>