<div class="inicio regresarDiv">
    <div class="container inicioContainer">
        <div class="gun container"></div>
        <div class="container primerParrafo">
            <div class="row">
                <p>
                    —¡Déjanos en paz! —rugió Catalina, levantó el arma y jaló el gatillo. Pero nada sucedió, tenía la
                    última bala atorada en la pierna. —¡Mierda! —comenzó a llorar desesperada. Aquella figura fornida,
                    sacada de sus peores pesadillas, la tomó de la cabellera para arrastrarla al muelle, se encontró
                    cara a cara con Daniel, que yacía muerto en el suelo del vehículo. Ella suspiró aterrada y volteó a
                    ver a su victimario a la cara, quien tomó una gran roca empapada por la lluvia y la dejó caer en la
                    cabeza de Catalina.


                    <span>
                        <h3 style="background-color: wheat; color: black">Final 3</h3>
                    </span>
                </p>
            </div>
            <div class="row text-center decOne">
                <div class="col-md-6">
                    <button type="button" class="btn btn-light btn-block btnDec1 blink2"
                        onclick="location.href='/cabana';">Regresar a la decisión anterior</button>
                </div>
                <div class="col-md-6">
                    <button type="button" class="btn btn-light btn-block  blink2" onclick="location.href='/inicio';">Comenzar
                        historia de nuevo</button>
                </div>

            </div>
        </div>

    </div>
</div>