body{
    background-color: black;
    color: white;
    font-family: 'Raleway', sans-serif;
}
.sTitles{
    margin-top: 5%;
}
.blink {
    animation: blinker 1s linear infinite;
  }
  @keyframes blinker {
    50% {
      opacity: 0.5;
    }
}
.blink2 {
    animation: blinker 1.5s linear infinite;
  }
  @keyframes blinker {
    50% {
      opacity: 0.5;
    }
}
.inicioContainer{
    /* background-color: wheat; */
    height: 50rem;
    margin-top: 2%;
    margin-bottom: 10%;
}
.header{
    height: 3rem;
    padding-top: 0.5%;
}

.portada{
    background-image: url("/assets/images/portada.jpg");  
}
.boat{
    background-image: url("/assets/images/boat.jpg"); 
}
.regresar{
    background-image: url("/assets/images/regresar.jpg");
}
.llaves{
    background-image: url("/assets/images/llaves.jpg");
}
.cabana{
    background-image: url("/assets/images/cabin.jpg");
}
.gun{
    background-image: url("/assets/images/gun.jpg");

}
.levantarse{
    background-image: url("/assets/images/levantarse.jpg");
}
.pistolaMano{
    background-image: url("/assets/images/gun.jpg");

}
.escopeta{
    background-image: url("/assets/images/buscar.jpg");

}
.escopeta, .pistolaMano, .levantarse, .gun, .cabana, .llaves, .regresar, .boat, .portada{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
    width: 40rem;
    margin-top: 5%;
}

.primerParrafo{
    margin-top: 3%;
    width: 60%;
    font-size: 20px;
}
.decOne{
    margin-top: 5%;
}
.btn:hover {
    background-color: wheat;
}
.regresarDiv{
    margin-bottom: 20%;
}
@media (min-width: 401px) and (max-width: 768px) {
    .headerTitle{
        font-size: 18px;
        padding-top: 11px;
    }
    .sTitles{
    margin-top: 7%;
    font-size: 25px;
    }
    .sTitles2{
        font-size: 15px;
        margin-bottom: 10%;
    }
    .portada,.boat,.regresar, .cabana,.gun, .levantarse, .pistolaMano, .escopeta,.llaves{
    height: 15rem;
    width: 17rem;
    margin-top: 5%;   
    }
    .primerParrafo{
    margin-top: 7%;
    width: 85%;
    font-size: 15px;
    }
    .btnDec1{
        margin-bottom: 10%;
    }
    .inicioContainer{
    /* background-color: wheat; */
    height: 43rem;

    }

    .regresarDiv{
        margin-bottom: 80%;
    }
    
}
@media (max-width: 400px) {
    .regresarDiv{
        margin-bottom: 80%;
    }
    

    .btnDec1{
        margin-bottom: 10%;
    }
    .headerTitle{
        font-size: 18px;
        padding-top: 11px;
    }
    .sTitles{
    margin-top: 7%;
    font-size: 25px;
    }
    .sTitles2{
        font-size: 15px;
        margin-bottom: 10%;
    }
    .portada, .boat, .regresar, .cabana, .gun, .levantarse, .pistolaMano, .escopeta,.llaves{
    height: 15rem;
    width: 17rem;
    margin-top: 5%;   
    }
    .primerParrafo{
    margin-top: 7%;
    width: 85%;
    font-size: 15px;
    }
    .inicioContainer{
    /* background-color: wheat; */
    height: 43rem;

    }
}